/**
    COLOR

    Where all color's variables are defined

    Thanks to SASS Map, we can define all colors at one place.
    We also respect our BEM like notation and files architecture.
*/

$palettes: (
    action: (
        link: var(--background-color)
    ),
    button: (
        background: var(--background-color),
        background--highlight: var(--background-color),
        background--hover: var(--background-color),
        background--danger: var(--background-color),
        background--danger-hover: var(--background-color),
        background--highlight-hover: var(--background-color),
        color: var(--text-color),
        color--highlight: var(--text-color),
    ),
    error: (
        color: var(--text-color),
        text-color: var(--background-color),
        text-color--invert: var(--background-color),
    ),
    badge: (
        background--success: #76d443,
        background--error: #f10,
        background--warn: #efe778,
        text--success: #333,
        text--error: #fff,
        text--warn: #333
    ),
    flash: (
        background--error: #f10,
        background--success: #76d443,
        background--warning: #efe778,
        background--confirm: #222,
        border: #333,
        color: #333,
        color--invert: #fff
    ),
    footer: (
        background: var(--background-color),
        color: var(--text-color),
        color--highlight: var(--text-color),
    ),
    form: (
        background: var(--background-color),
        border: var(--text-color),
        border--focus: var(--text-color),
        color: var(--text-color),
        color--highlight: var(--text-color),
        label-color: var(--text-color)
    ),
    header: (
        background: var(--background-color),
        background--highlight: var(--background-color),
        color: var(--text-color),
        label-color: #var(--text-color)
    ),
    layout: (
        background: var(--background-color),
        border: transparent,
        close-color: var(--text-color),
        color: var(--text-color),
        content-background: var(--background-color),
        content-border: transparent,
        loading-color: var(--background-color)
    ),
    loader: (
        background: var(--background-color),
        background--highlight:  var(--text-color)
    ),
    product: (
        background: #f8f8f8,
        border: #eee,
        color--error: #f10,
        color--highlight: var(--text-color)
    ),
    quantity-trigger: (
        background: var(--background-color),
        background--hover: var(--background-color),
        background--disabled: var(--background-color),
        color: var(--text-color),
        color--disabled: #bbb
    ),
    static: (
        background--highlight: #f8f8f8,
        border: transparent,
        color--highlight: var(--text-color),
        color--link: #999
    ),
    step: (
        background: var(--background-color),
        background--active: var(--background-color),
        border: var(--text-color),
        color: var(--text-color),
        color--active: var(--text-color)
    ),
    table: (
        background--highlight: var(--background-color),
        border: var(--text-color),
        color--highlight: var(--text-color),
        color--success: var(--text-color)
    ),
    tooltip: (
        background: var(--background-color),
        border: var(--text-color) transparent,
        label: var(--text-color),
        text: var(--text-color)
    )
);