* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
	position: relative;
	height: 100%;
}

html {
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
  font-size: 16px;
}

body {
  font-family: 'Arial';
  // line-height: 1.35em;
  // padding-top: 1em;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  .underline {
    text-decoration: underline;
  }
}