* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font: inherit;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}

ol, ul {
    list-style: none;
}

svg {
    width: 100%;
    height: auto;
}