.book-list-item {
  display: flex;
  &--forthcoming {
    
  }
  &__cover {
    width: calc( var( --line ) * 3 );
    img {
      height: calc( var( --line ) * 3 );
      width: 100%;
      object-fit: contain;
      object-position: right;
    }
  }
}