.slider {
  width: 100%;
  overflow: hidden;
  cursor: e-resize;
  &__track {
    display: flex;
    transition: transform .2s;
  }
  &__image {
    object-position: top left;
  }
  &__pagination {
    &__bullet{
      display: inline-block;
      width: 5px;
      height: 5px;
      // margin: 5px 5px 0px 0px;
      background: transparent;
      border: solid 1px var(--text-color);
      &--active {
        background: var( --text-color );
      }
    }
  }
}

